.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# img
*.img
*.jpg
logo.jpg
img/

# videos
*.mp4
# packages

# log
*.log
password.txt